footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    align-self: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}
