@import url('https://fonts.googleapis.com/css2?family=Extenda+30+Deca&display=swap');


html {
    background-color: beige;
    
}

header a {
    color: red;
}
header {
    background-color:beige;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-family: 'Extenda 30 Deca', sans-serif;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Extenda 30 Deca', sans-serif;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #069a2d;
    color: #000;
}

hr {
    border: none;
    height: 2px;
    background-color: #069a2d;
    margin-top: 15px;
}
